
@{
    ViewData["Title"] = "ViewCartUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Cart>
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <th>Cart Id</th>
                        <th>Product Name</th>
                        <th>Product Quantity</th>
                        <th>Product Price</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.cart_id</td>
                            <td>@item.plants.plant_name</td>
                            <td>@item.plant_quantity</td>
                            <td>@item.plants.plant_price</td>
                            <td>
                                <a class="btn btn-warning" href="@Url.Action("RemovePlant","user",new{id=@item.cart_id})">Remove</a>
                                <a class="btn btn-primary" href="@Url.Action("CheckoutPlant","user",new{id=@item.cart_id})">Check Out</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


